.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 8px;
}

.user {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
}

.tile {
    color: #222;
}